* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #0a0c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

main {
  background-color: #1b1937;
  width: 1100px;
  display: flex;
  border-radius: 8px;
}

main h1 {
  font-size: 36px;
  font-weight: 700;
}

main .purple-title {
  color: #ab5cdb;
}

main .description {
  opacity: 75%;
  font-size: 15px;
}

.content {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  width: 50%;
  position: relative;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

.picture::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #ab5cdb;
  position: absolute;
  opacity: 0.55;
}

.picture img {
  width: 100%;
  height: 100%;
}

.values {
  display: flex;
  justify-content: space-between;
}

.value-amount {
  font-size: 24px;
  font-weight: 700;
}

.value-description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  opacity: 60%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  main {
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
  }

  .content {
    width: 100%;
  }

  .picture {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .content {
    text-align: center;
  }

  .values {
    flex-direction: column;
  }
}
